
.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  .manageButton {
    height: 24px;
    width: 24px;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
  }
}
