
$primary-color: #333;
@import '~@voiceofamerica/voa-shared/commonStyles/index';
@import '~mdi/scss/materialdesignicons.scss';

html, body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.loader {
  font-size: 18px;
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}